.featured-artist
	background: url('../saint-sister.jpg')
	background-repeat: no-repeat
	background-position: 50% 100%
	height: auto
	text-align: center
	margin: 0 auto

	.featured-artist-blurb
		margin-top: 18em

		@media screen and (min-width: 768px) and (max-width:979px)
			margin-top: 0

		@media screen and (max-width: 480px)
			margin-top: 1em	

	a
		color: $secondary-color
		text-decoration: none	

	h2
		padding-top: 1em

	p
		max-width: 750px
		text-align: center
		margin: 0 auto
		-webkit-font-smoothing: antialiased
		font-size: 1.2em

		@media screen and (min-width: 768px) and (max-width:979px)
			line-height: 2
			font-size: 1.5em
			max-width: 650px

		@media screen and (max-width: 480px)
			max-width: 350px
			line-height: 1.8
	
	.featured-artist-headline
		h3
			font-size: 1.8em
			font-weight: 400


	.featured-artist-quote
		p
			font-weight: bold
			font-size: 1em
			margin: 0 auto
			padding-top: 10px

.cta-container
	margin-top: 2em

	.listen-now
		display: inline-block
		height: auto
		padding: 20px

		a
			text-decoration: none
			text-transform: uppercase
			color: $secondary-color
			background: $primary-color
			display: inline-block
			padding: 20px
			font-weight: bold

			&:hover
				color: $primary-color
				background: $secondary-color	

.social-icons
	display: flex
	justify-content: center
	align-items: center
	margin-bottom: 2em

	h3
		margin-right: 20px

	.twitter

		svg
			margin: 0 auto
			fill: white

			&:hover
				fill: $primary-color	

	.facebook
		svg
			margin: 0 auto
			fill: white

			&:hover
				fill: $primary-color	
	
	.youtube
		svg
			margin: 0 auto
			fill: white

			&:hover
				fill: $primary-color	
		